.carousel {
  background-color: #000;
  position: relative;
}
.container {
  max-width: 1920px;
  min-width: 1040px;
  margin: 0 auto;
  overflow: hidden;
}
.carousel .items {
  display: flex;
  transition: transform 0.3s ease;
}
.carousel .item {
  flex: 0 0 100%;
  position: relative;
}
.carousel.dark .item::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 140px;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.carousel .item a {
  cursor: auto;
}
.carousel .item.playable a {
  cursor: pointer;
}
.carousel .item.playable a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '';
  background-image: url('/img/svg/play-solid.svg');
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}
.carousel .item .imgContainer {
  margin: 0 auto;
}
.carousel .item img {
  width: 100%;
  object-fit: cover;
}
.btnNav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 30px;
  background: transparent;
  border: none;
  outline: none;
  color: #bbb;
  cursor: pointer;
}
.btnNavPrev {
  left: 0;
}
.btnNavNext {
  right: 0;
}
.btnNav:hover {
  color: #eee;
}
