.section-movie-list {
  padding: 32px 0;
}
.movie-list {
  margin-top: 16px;
}
.movie-list-header {
  position: relative;
  margin-bottom: 10px;
}
.movie-list-header .title {
  font-size: 18px;
  font-weight: 400;
}
.movie-list-header .title strong {
  color: #f45866;
}

.movie-list-header a {
  font-size: 12px;
  color: #333;
  position: absolute;
  right: 0;
  bottom: 0;
}
