.exhibition {
  width: 316px;
  position: relative;
}
.info {
  text-align: center;
  margin-top: 72px;
  margin-bottom: 10px;
  color: #fff;
}
.info .description {
  font-size: 23px;
  line-height: 1.2;
}
.info a {
  font-size: 10px;
}
.commingSoon {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 0;
  bottom: 81px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.commingSoon div {
  text-transform: capitalize;
}
.commingSoon span {
  font-size: 12px;
}
