.btn-type {
  font-size: 18px;
  font-weight: bold;
  color: #888;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid transparent;
  padding: 5px 0;
  margin-right: 32px;
  cursor: pointer;
}
.btn-type.active {
  color: #000;
  border-bottom: 1px solid #000;
}
