/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Do+Hyeon&family=Noto+Sans+KR&family=Roboto&display=swap');
/* FA CSS import */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', 'Roboto', 'dotum', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
}

.center {
  width: 980px;
  margin: 0 auto;
}
