.movie-list {
  margin-top: 16px;
}
.header {
  position: relative;
  margin-bottom: 10px;
}
.header .title {
  font-size: 18px;
  font-weight: 400;
}
.header .title strong {
  color: #f45866;
}
.header a {
  font-size: 12px;
  color: #333;
  position: absolute;
  right: 0;
  bottom: 0;
}
