.tabs {
  display: flex;
  border-right: 1px solid #ccc;
}
.tab {
  display: block;
  width: 50%;
  height: 60px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  color: #7f7f7f;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.tab.active {
  border-bottom: 2px solid #111;
  color: #000;
}
